# Python / Environment virtual environments
venv/
.venv/
__pycache__/
*.pyc

# Local Data and Output Directories (DO NOT push MRI volumes to GitHub)
data/
Data/
Outputs/
outputs/
*.nii
*.nii.gz

# System files
.DS_Store
.vscode/
.idea/
.dist/